*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    width: 100%;
    height: 700vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#82d0dd,#a06698);
    background-attachment: local;

}
nav{
    width: 93%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;

}
.logo img{
    
    width: 161px;
}
 #head {
    width: 305px;
    position: absolute;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.recent-discoveries h2 {
    
    font-size: 2.5em;
    font-family:Hedvig Letters Serif;
    text-decoration-style: dotted;
    text-decoration-thickness: 10px;
    position: absolute;
    left: 500px;
    top: 136px;
    background-clip: text;
}
.discoveries {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.discoveries img {
    width: 452px;
    height: 313px;
    float: left;
    margin-right: 51px;
    margin-left: 207px;
    margin-top: 107px;
    border-style: groove;
    border-radius: 10px;
}
.discovery-details {
    flex: 1;
    margin-top: 48px;
}

.discovery-details h3 {
    color: #de007e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em; 
    top: 100px;
    left: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.discovery-details p {
    color: #000; 
    font-size: 1em; 
    line-height: 1.4;
    margin-left: 20px;
    display:list-item;
}

#box{
    background-color: white;
    width: 200px;
    height: 550px;
    border: black;
    border-radius: 10px;
    border-style: dashed;
    margin-right: 10px;
}
.gradient-text{
         background: linear-gradient(to right, #ff0000, #3900ff); 
        -webkit-background-clip: text; 
        color: transparent; 
    
}